.#*
pom.xml
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
/data/
/node_modules/
.lsp/
.clj-kondo/.cache

*.swp

resources/public/uploads/*
resources/storage/*
resources/public/css/main.css.map
resources/public/css/audiences.css*
resources/public/css/authors.css*
resources/public/css/cards.css*
resources/public/css/excerpts.css*
resources/public/css/layout.css*
resources/public/css/scaffolds.css*
resources/public/cljs/*

test/kuti/fixtures/files/bodhi-temp.jpg

tmp/storage/*

txt/pali/*.txt
txt/buddha/*.txt
txt/dohas/*.txt

