{:migrators {:xtdb-mig "resources/joplin/migrators/xtdb"}

 :seeds {:xtdb-seed "kosa.seeds.xtdb/run"}

 :databases
 {:xtdb-dev
  {:type :xtdb
   :conf {:xtdb/tx-log {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                 :db-dir      "data/dev/tx-log"
                                   :sync?       true}}
	        :xtdb/document-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                         :db-dir      "data/dev/doc-store"
                                           :sync?       true}}
          :xtdb/index-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                      :db-dir      "data/dev/index-store"
                                        :sync?       true}}
          :xtdb.lucene/lucene-store {:db-dir "data/dev/lucene-dir"}}}

  :xtdb-test
  {:type :xtdb
   :conf {:xtdb/tx-log {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                 :db-dir      "data/test/tx-log"
                                   :sync?       true}}
	        :xtdb/document-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                         :db-dir      "data/test/doc-store"
                                           :sync?       true}}
          :xtdb/index-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                      :db-dir      "data/test/index-store"
                                        :sync?       true}}
          :xtdb.lucene/lucene-store {:db-dir "data/test/lucene-dir"}}}

  :xtdb-prod
  {:type :xtdb
   :conf {:xtdb/tx-log {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                 :db-dir      "data/prod/tx-log"
                                   :sync?       true}}
	        :xtdb/document-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                         :db-dir      "data/prod/doc-store"
                                           :sync?       true}}
          :xtdb/index-store {:kv-store {:xtdb/module xtdb.rocksdb/->kv-store
	                                      :db-dir      "data/prod/index-store"
                                        :sync?       true}}
          :xtdb.lucene/lucene-store {:db-dir "data/prod/lucene-dir"}}}}

 :environments {:dev [{:db       :xtdb-dev
                       :migrator :xtdb-mig
                       :seed     :xtdb-seed}]
                :test [{:db       :xtdb-test
                        :migrator :xtdb-mig
                        :seed     :xtdb-seed}]
                :prod [{:db       :xtdb-prod
                        :migrator :xtdb-mig
                        :seed     :xtdb-seed}]}

 }
