
// hi varun i put this here i dunno if this is where you 
// want it so please move it to somewhere else if this is 
// not where you want it because this was just my best 
// guess of where maybe you wanted it. <3 -sd
@import '@clr/icons/clr-icons.min.css';

@import 'colors';
@import 'typography';
@import 'table';

/*
This file should have only element level css. Ideally shouldn't have classes and should not have children elements
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    background: lighten($color: $cream, $amount: 8%);
}

h1 {
    @include fs-xl;
    font-weight: 300;
}
h2 {@include fs-l}
h3 {@include fs-m}
h4 {@include fs-r}
h5,h6 {@include fs-s}

a, p, li, span, div.flash {
    @include fs-r;
}

label {
    @include fs-s;
    text-transform: uppercase;
    color: rgba($color: $black, $alpha: 0.64);
}

.flex {
    display: flex !important;

    &.row {flex-direction: row !important;}
    &.col {flex-direction: column !important;}
}

.m-0 {margin: 0 !important;}
.mt-0 {margin-top: 0 !important;}
.mr-0 {margin-right: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.ml-0 {margin-left: 0 !important;}

.p-0 {padding: 0 !important;}
.pt-0 {padding-top: 0 !important;}
.pr-0 {padding-right: 0 !important;}
.pb-0 {padding-bottom: 0 !important;}
.pl-0 {padding-left: 0 !important;}

/*
-----------------
#################
Links and its states
#################
-----------------
*/
a {
    color: $green;
    padding: 1px 0;
    text-decoration: none;
    border-bottom: 1px dashed;

    &:hover {
        background: rgba($color: $green, $alpha: 0.12);
    }
}

/*
-----------------
#################
Input and button elements
#################
-----------------
*/
textarea {
    width: 100%;
    min-height: 20rem;

    padding: 0.5rem 0.75rem;
    margin-bottom: 1.25rem;

    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 2px;
    outline: none;

    @include fs-r; // 16px
}

input {
    width: 100%;
    min-height: 2.5rem;

    padding: 0.5rem 0.75rem;
    margin-bottom: 1.25rem;

    border: 1px solid rgba($color: $black, $alpha: .4);
    border-radius: 2px;
    outline: none;

    @include fs-r; // 16px

    &[type="submit"] {
        // button
        background: $green;
        color: $white;
        border: 1px solid darken($color: $green, $amount: 20%);

        transition: background 150ms ease-out;

        &:hover {
            cursor: pointer;
            background: darken($color: $green, $amount: 5%);
        }
    }

    &:focus {
        border: 1px solid $green;
        box-shadow: 0 0 3px rgba($color: $green, $alpha: 0.24);
    }
}

/*
-----------------
#################
List items
#################
-----------------
*/
ul {
    li {
        list-style-type: none;
    }
}

.checkmark {
    display:inline-block;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    position: absolute;
    left: 60px;
    top: 60px;
}

.checkmark_stem {
    position: absolute;
    width: 12px;
    height: 40px;
    background-color: $off-white;
    border: 2px solid rgba($color: $black, $alpha: 0.64);
    left: 11px;
    top: -14px;
}

.checkmark_kick {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: $off-white;
    border: 2px solid rgba($color: $black, $alpha: 0.64);
    border-right: 0;
    left: 1px;
    top: 14px;
}
