$logo-dark  : #75592F;
$logo-sand  : #DCD3C0;
$yellow     : #CE9925;
$green      : #207868;
$brown      : #897A5F;
$off-white  : #F6F2ED;
$red        : #BA5626;
$light-brown: #A89572;
$cream      : #E5DAC9;
$white      : #FFF;
$black      : #000;