// Place all the styles related to the Cards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'colors';
@import 'base';

.form-and-preview {
  justify-content: space-between;
  padding: 1rem;
}

.form {
  .image-selector {
    position: relative;
    border: 1px solid rgba($color: $black, $alpha: 0.4);
    border-radius: 2px;
    
    padding: 1rem; //16px
    margin-bottom: 1.25rem;
  }
}

.card-index-content {
  padding-top: 2rem; //32px
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  
  border-radius: 1rem; //16px
  background-color: $off-white;

  .card-header {
    padding: 0.5rem 1rem; //8px 16px

    @include fs-r;
    text-align: center;
  }

  .card-footer > * {
    flex: 1;
    text-align: center;
    padding: 0.5rem 0; //8px
    @include fs-s;
  }

  // Inspiration cards
  .card-image-and-text {
    position: relative;

    // Overlay inspiration image
    .card-overlay-image {
      max-width: 100%;
      height: 350px;
    }

    // Overlay inspiration text
    .card-overlay-text {
      position: absolute;
      bottom: 0;

      padding: 1rem; //16px
      @include fs-r;
    }

    // Stacked inspiration image
    .card-stacked-image {
      max-width: 100%;
      height: 350px;
    }

    // Stacked inspiration text
    .card-stacked-text {
      position: relative;
      max-width: 350px;

      padding: 1rem; //16px
      @include fs-r;
    }
  }

  // Pali word
  .pali-word {
    padding-top: 1rem;
    border-top: 1px solid $logo-sand;
    
    @include fs-l;
    text-align: center;
  }
  
  .pali-word-translations {
    padding: 1rem;
    @include fs-r;

    span {
      @include fs-s;
      color: rgba($color: $black, $alpha: 0.64);
    }
  }
}

.card-action-links {
  margin-left: 1rem; //16px

  .card-action-link {
    margin-bottom: 0.5rem; //8px

    .destroy {
      color: $red;
    }
  }
}
