{:secrets #include #join [#env HOME "/.kosa-secrets.edn"]

 :db-spec {:data-dir "data/"
           :crux-http-port 9876}

 :mailer {:host "localhost"
          ;; revisit: https://serverfault.com/questions/999521/cannot-get-sendmail-to-work-on-ubuntu-18-04-3-lts-x64-on-digitalocean-droplet
          :ssl true
          :default-options {:from    "no-reply@pariyatti.app"
                            :to      "webmaster@pariyatti.org"
                            :subject "Pariyatti Kosa: Alert"}}

 :port 3333

 :storage {:service :disk
           :root    "resources/storage/"
           :path    "/uploads"}

 :jobs [{:job-name :rss-poller-pali-word
         :offset-seconds 1
         :period-seconds 5
         :job-fn kosa.mobile.today.pali-word.rss-job/run-job!
         :enabled false}

        {:job-name :txt-publisher-pali-word
         :offset-seconds 1
         :period-seconds 86400 ;; 24 hrs
         :job-fn kosa.mobile.today.looped-pali-word.publish-job/run-job!
         :enabled false}

        {:job-name :txt-publisher-words-of-buddha
         :offset-seconds 1
         :period-seconds 86400 ;; 24 hrs
         :job-fn kosa.mobile.today.looped-words-of-buddha.publish-job/run-job!
         :enabled false}

        {:job-name :txt-publisher-doha
         :offset-seconds 1
         :period-seconds 86400 ;; 24 hrs
         :job-fn kosa.mobile.today.looped-doha.publish-job/run-job!
         :enabled false}]

 :supported-languages ["en" "es" "fr" "it" "lt" "pt" "sr" "zh"]

 :txt-feeds {:pali-word [{:language "en"
                          :file "txt/pali/pali_words_one_loop.txt"}]
             :words-of-buddha [{:language "en"
                                :file "txt/buddha/daily_words_one_loop.txt"}
                               {:language "es"
                                :file "txt/buddha/daily_words_one_loop_es.txt"}
                               {:language "fr"
                                :file "txt/buddha/daily_words_one_loop_fr.txt"}
                               {:language "it"
                                :file "txt/buddha/daily_words_one_loop_it.txt"}
                               {:language "pt"
                                :file "txt/buddha/daily_words_one_loop_pt.txt"}
                               {:language "sr"
                                :file "txt/buddha/daily_words_one_loop_sr.txt"}
                               {:language "zh"
                                :file "txt/buddha/daily_words_one_loop_zh.txt"}]
             :doha [{:language "en"
                     :file "txt/dohas/daily_dohas_one_loop.txt"}
                    {:language "lt"
                     :file "txt/dohas/daily_dohas_one_loop_lt.txt"}
                    {:language "pt"
                     :file "txt/dohas/daily_dohas_one_loop_pt.txt"}
                    {:language "zh"
                     :file "txt/dohas/daily_dohas_one_loop_zh.txt"}]}

 :rss-feeds {:pali-word [{:language "en"
                          :url "https://download.pariyatti.org/pwad/pali_words.xml"}]
             :words-of-buddha [{:language "en"
                                :url "https://rss.pariyatti.org/dwob_english.rss"}
                               {:language "es"
                                :url "https://rss.pariyatti.org/dwob_spanish.rss"}
                               {:language "fr"
                                :url "https://rss.pariyatti.org/dwob_french.rss"}
                               {:language "it"
                                :url "https://rss.pariyatti.org/dwob_italian.rss"}
                               {:language "pt"
                                :url "https://rss.pariyatti.org/dwob_portuguese.rss"}
                               {:language "sr"
                                :url "https://rss.pariyatti.org/dwob_serbian.rss"}
                               {:language "zh"
                                :url "https://rss.pariyatti.org/dwob_chinese.rss"}]}}
