{:db-spec {:data-dir "data/dev/"
           :crux-http-port 9999}

 :port 3000

 :storage {:service :disk
           ;; TODO: try "resources/storage/" instead
           :root    "resources/public/uploads/"
           :path    "/uploads"}

 :supported-languages ["en" "hi" "cn"]}
