{:secrets #include #join [#env HOME "/.kosa/secrets.edn"]

 :db-spec {:data-dir "data/prod"
           :xtdb-http-port 9999}

 :mailer {:sendgrid-api-key #ref [:secrets :mailer :sendgrid-api-key]
          :default-options {:from "no-reply@pariyatti.app"
                            :to   "app@pariyatti.org"
                            :subject "Pariyatti Kosa: Alert"}}

 :port 3000

 :storage {:service :disk
           :root    "resources/storage/"
           :path    "/uploads"}

 :jobs [{:job-name :txt-publisher-pali-word
         :offset-seconds 10
         :period-seconds 3600
         :job-fn kosa.mobile.today.looped-pali-word.publish-job/run-job!
         :enabled true}

        {:job-name :txt-publisher-words-of-buddha
         :offset-seconds 10
         :period-seconds 3600
         :job-fn kosa.mobile.today.looped-words-of-buddha.publish-job/run-job!
         :enabled true}

        {:job-name :txt-publisher-doha
         :offset-seconds 10
         :period-seconds 3600
         :job-fn kosa.mobile.today.looped-doha.publish-job/run-job!
         :enabled true}]

 :supported-languages ["eng" "spa" "fra" "ita" "lit" "por" "srp" "zho-hans" "zho-hant" "cmn" "yue" "hak" "nan"]

 :txt-feeds {:pali-word [{:language "eng"
                          :file "txt/pali/pali_words_one_loop_eng.txt"}]
             :words-of-buddha [{:language "eng"
                                :file "txt/buddha/daily_words_one_loop_eng.txt"}
                               {:language "spa"
                                :file "txt/buddha/daily_words_one_loop_spa.txt"}
                               {:language "fra"
                                :file "txt/buddha/daily_words_one_loop_fra.txt"}
                               {:language "ita"
                                :file "txt/buddha/daily_words_one_loop_ita.txt"}
                               {:language "por"
                                :file "txt/buddha/daily_words_one_loop_por.txt"}
                               {:language "srp"
                                :file "txt/buddha/daily_words_one_loop_srp.txt"}
                               {:language "zho-hant"
                                :file "txt/buddha/daily_words_one_loop_zho-hant.txt"}]
             :doha [{:language "eng"
                     :file "txt/dohas/daily_dohas_one_loop_eng.txt"}
                    {:language "lit"
                     :file "txt/dohas/daily_dohas_one_loop_lit.txt"}
                    {:language "por"
                     :file "txt/dohas/daily_dohas_one_loop_por.txt"}
                    {:language "zho-hant"
                     :file "txt/dohas/daily_dohas_one_loop_zho-hant.txt"}]}}
