{:db-spec {:data-dir "data/test/"
           :crux-http-port 9876}
 :port 3001

 :storage {:service :disk
           :root    "tmp/storage"
           :path    "/uploads"}

 :supported-languages ["hi" "en" "cn"]}
