{:secrets #include #join [#env HOME "/.kosa-secrets.edn"]

 :db-spec {:data-dir "data/dev/"
           :crux-http-port 9999}

 :mailer {:host "smtp.gmail.com"
          :ssl true
          :user #ref [:secrets :mailer :user]
          :pass #ref [:secrets :mailer :pass]
          :default-options {:from "no-reply@pariyatti.app"
                            :to #ref [:secrets :mailer :default-options :to]
                            :subject "Pariyatti Kosa: Alert"}}

 :port 3000

 :storage {:service :disk
           :root    "resources/storage/"
           :path    "/uploads"}

 :jobs [{:job-name :rss-poller-pali-word
         :offset-seconds 1
         :period-seconds 5
         :job-fn kosa.mobile.today.pali-word.rss-job/run-job!
         :enabled true}]

 :supported-languages ["en" "hi" "cn"]

 :rss-feeds {:pali-word "https://download.pariyatti.org/pwad/pali_words.xml"}}
