{:secrets #include #join [#env HOME "/.kosa-secrets.edn"]

 :db-spec {:data-dir "data/"
           :crux-http-port 9876}

 :mailer {:host "localhost"
          ;; revisit: https://serverfault.com/questions/999521/cannot-get-sendmail-to-work-on-ubuntu-18-04-3-lts-x64-on-digitalocean-droplet
          :ssl true
          :default-options {:from    "no-reply@pariyatti.app"
                            :to      "webmaster@pariyatti.org"
                            :subject "Pariyatti Kosa: Alert"}}

 :port 3333

 :storage {:service :disk
           :root    "resources/storage/"
           :path    "/uploads"}

 :supported-languages ["hi" "en" "cn"]

 :rss-feeds {:pali-word "https://download.pariyatti.org/pwad/pali_words.xml"}}
