{:secrets #include #join [#env HOME "/.kosa/secrets.edn"]

 :db-spec {:data-dir "data/test/"
           :crux-http-port 9876}

 :mailer {:host "smtp.gmail.com"
          :ssl true
          :user #ref [:secrets :mailer :user]
          :pass #ref [:secrets :mailer :pass]
          :default-options {:from "no-reply@pariyatti.app"
                            :to #ref [:secrets :mailer :default-options :to]
                            :subject "Pariyatti Kosa: Alert"}}

 :port 3001

 :storage {:service :disk
           :root    "tmp/storage"
           :path    "/uploads"}

 :supported-languages ["eng" "spa" "fra" "ita" "lit" "por" "srp" "zho-hans" "zho-hant" "cmn" "yue" "hak" "nan"]

 :txt-feeds {:pali-word [{:language "eng"
                          :file "txt/pali/pali_words_one_loop_eng.txt"}]
             :words-of-buddha [{:language "eng"
                                :file "txt/buddha/daily_words_one_loop_eng.txt"}
                               {:language "spa"
                                :file "txt/buddha/daily_words_one_loop_spa.txt"}
                               {:language "fra"
                                :file "txt/buddha/daily_words_one_loop_fra.txt"}
                               {:language "ita"
                                :file "txt/buddha/daily_words_one_loop_ita.txt"}
                               {:language "por"
                                :file "txt/buddha/daily_words_one_loop_por.txt"}
                               {:language "srp"
                                :file "txt/buddha/daily_words_one_loop_srp.txt"}
                               {:language "zho-hant"
                                :file "txt/buddha/daily_words_one_loop_zho-hant.txt"}]
             :doha [{:language "eng"
                     :file "txt/doha/daily_dohas_one_loop_eng.txt"}
                    {:language "lit"
                     :file "txt/doha/daily_dohas_one_loop_lit.txt"}
                    {:language "por"
                     :file "txt/doha/daily_dohas_one_loop_por.txt"}
                    {:language "zho-hant"
                     :file "txt/doha/daily_dohas_one_loop_zho-hant.txt"}]}

 :rss-feeds {:pali-word [{:language "eng"
                          :url "https://download.pariyatti.org/pwad/pali_words.xml"}]
             :words-of-buddha [{:language "eng"
                                :url "https://rss.pariyatti.org/dwob_english.rss"}
                               {:language "spa"
                                :url "https://rss.pariyatti.org/dwob_spanish.rss"}
                               {:language "fra"
                                :url "https://rss.pariyatti.org/dwob_french.rss"}
                               {:language "ita"
                                :url "https://rss.pariyatti.org/dwob_italian.rss"}
                               {:language "por"
                                :url "https://rss.pariyatti.org/dwob_portuguese.rss"}
                               {:language "srp"
                                :url "https://rss.pariyatti.org/dwob_serbian.rss"}
                               {:language "zho-hant"
                                :url "https://rss.pariyatti.org/dwob_chinese.rss"}]}}
