{:secrets #include #join [#env HOME "/.kosa-secrets.edn"]

 :db-spec {:data-dir "data/test/"
           :crux-http-port 9876}

 :mailer {:host "smtp.gmail.com"
          :ssl true
          :user #ref [:secrets :mailer :user]
          :pass #ref [:secrets :mailer :pass]
          :default-options {:from "no-reply@pariyatti.app"
                            :to #ref [:secrets :mailer :default-options :to]
                            :subject "Pariyatti Kosa: Alert"}}

 :port 3001

 :storage {:service :disk
           :root    "tmp/storage"
           :path    "/uploads"}

 :supported-languages ["en" "es" "fr" "it" "pt" "sr" "zh"]

 :rss-feeds {:pali-word [{:language "en"
                          :url "https://download.pariyatti.org/pwad/pali_words.xml"}]
             :words-of-buddha [{:language "en"
                                :url "https://rss.pariyatti.org/dwob_english.rss"}
                               {:language "es"
                                :url "https://rss.pariyatti.org/dwob_spanish.rss"}
                               {:language "fr"
                                :url "https://rss.pariyatti.org/dwob_french.rss"}
                               {:language "it"
                                :url "https://rss.pariyatti.org/dwob_italian.rss"}
                               {:language "pt"
                                :url "https://rss.pariyatti.org/dwob_portuguese.rss"}
                               {:language "sr"
                                :url "https://rss.pariyatti.org/dwob_serbian.rss"}
                               {:language "zh"
                                :url "https://rss.pariyatti.org/dwob_chinese.rss"}]}}
