<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>log-%d{yyyy-MM-dd}.log</fileNamePattern>
        <maxHistory>30</maxHistory>
        <totalSizeCap>15GB</totalSizeCap>
    </rollingPolicy>
    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>100MB</maxFileSize>
    </triggeringPolicy>

  <!-- Show debug logs that originate from our namespace -->
  <property name="level" value="INFO"/>
  <logger name="net.solasistim" level="${level}"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
