kosa-sandbox.pariyatti.org {
    root * {{ app_dir }}/resources/public
    reverse_proxy localhost:3000
}

kosa.pariyatti.org {
    root * {{ app_dir }}/resources/public
    reverse_proxy localhost:3000
}

kosa.oxal.org {
    root * {{ app_dir }}/resources/public
    reverse_proxy localhost:3000
}

kosa-sandbox.pariyatti.app {
    root * {{ app_dir }}/resources/public
    reverse_proxy localhost:3000
}

kosa.pariyatti.app {
    root * {{ app_dir }}/resources/public
    reverse_proxy localhost:3000
}
